name: Deploy Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      reason:
        description: "Reason for manual run"
        required: true
        default: "Manual trigger"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      # - name: Install TeX Live
      #   run: |
      #     sudo apt-get update
      #     # We need extra packages for tikz, tcolorbox, and math fonts
      #     sudo apt-get install -y \
      #       texlive-latex-base \
      #       texlive-latex-extra \
      #       texlive-fonts-recommended \
      #       texlive-pictures \
      #       texlive-science \
      #       texlive-pstricks \
      #       latexmk

      # - name: Compile LaTeX to PDF
      #   run: |
      #     RAW_PATH=$(kpsewhich -var-value=TEXMFLOCAL)
      #
      #     TEXMFLOCAL=${RAW_PATH%//}
      #     TEXMFLOCAL=${RAW_PATH%/}
      #
      #     sudo unzip -o content/tex-assets/mtp2lite.zip -d "$TEXMFLOCAL"
      #
      #     sudo texhash "$RAW_PATH"
      #
      #     PROJECT_ROOT=$(pwd)
      #     export TEXINPUTS=.:$PROJECT_ROOT/content/tex-assets/:
      #
      #     find content -name "*.tex" -type f | while read file; do
      #       dir=$(dirname "$file")
      #       filename=$(basename "$file")
      #       echo "Compiling $filename in $dir..."
      #
      #       cd "$dir"
      #
      #       pdflatex -interaction=nonstopmode "$filename" || true
      #       pdflatex -interaction=nonstopmode "$filename" || true
      #
      #       rm -f *.aux *.log *.out *.toc *.fdb_latexmk *.fls
      #       cd -
      #     done

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"
          extended: true

      - name: Build with Hugo
        run: hugo --minify

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
